{% extends '../../layouts/dashboard.html' %}

{% block title %} Create Tag {% endblock %}

{% block content %}
{% parent %}

<form id="edit_tag" onsubmit="return false;" method="post">
    <input type="hidden" value="{{ tag._id | safe }}" name="_id">
    <table align="center">
        <div id="input">
            <tr><div id="input_name">Name</div></tr>
            <tr><input type="text" id="identity" name="identity" value="{{ tag.identity }}"></tr>
        </div>
        <div id="input">
            <tr><div id="input_name">Segment URL</div></tr>
            <tr><input type="text" id="segment_url" name="segment_url" value="{{ tag.segment_url }}"></tr>
        </div>
    </table>
    <!--SUBMIT BUTTON -->
    <input type="submit" value="SUBMIT" onClick="formValidation()">
    <input type="button" onClick="location.href='/tags/'" value="CANCEL">

</form>



<!-- JavaScript -->
<script src="/js/edit_tag.js" type="text/javascript"></script>


{% endblock %}
