<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">NATION COUTURE.</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav ">
        <li><a href='/account/'>  Welcome, {{ req.user.firstname }}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">


        {% if req.isAuthenticated() %}

        <li><a href="/">SHOP</a></li>
        <li><a href="/dashboard/">DASHBOARD</a></li>
        <li><a href='/logout/'>LOGOUT</a></li>


        {% else %}

        <li><a href="/login/">LOGIN</a></li>
        <li><a href='/registration/'>SIGN UP</a></li>

        {% endif %}

      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
