{% extends '../layouts/main.html' %}

{% block title %} Shop Men's{% endblock %}

{% block content %}

<div id="collections">
    <a href="#">NEW</a>
    <a href="#">TOPS</a>
    <a href="#">JACKETS</a>
    <a href="#">BOTTOMS</a>
    <a href="#">SWIM</a>
    <a href="#">ACTIVE WEAR</a>
    <a href="#">ACCESSORIES</a>
    <a href="#">SHOES</a>
    <a href="#">SALE</a>
</div>

<h3><a href="/women/">WOMEN'S</a> / NEW</h3>

{% include "../includes/categories.html" %}

<div id="content">


</div>



<!-- JavaScript -->
<script src="/js/login.js" type="text/javascript"></script>



{% endblock %}