{% extends '../layouts/main.html' %} {% block title %} Dashboard {% endblock %} {% block content %}
<div class="container">
  <ol class="breadcrumb">
    <li class="active">Dashboard</li>
  </ol>

  <table class="table">
    <tr>
      <td>
        <a href="/account/">
          Account
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/categories/">
          Categories
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a href="/tags/">
          Tags
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a href="/brands/">
          Brands
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a href="/products/">
          Products
        </a>
      </td>
    </tr>
    </tr>
  </table>
</div>

{% endblock %} {% block footer %}{% endblock %}
