{% extends '../../layouts/dashboard.html' %}

{% block title %} Create Tag {% endblock %}

{% block content %}
{% parent %}

    <form id="edit_account" onsubmit="return false;" method="post">
        <table align="center">
            <div id="input">
                <tr><div id="input_name">First Name</div></tr>
                <tr><input type="text" id="firstname" name ="firstname" value="{{ req.user.firstname }}"></tr>
            </div>

            <div id="input">
                <tr><div id="input_name">Last Name</div></tr>
                <tr><input type="text" id="lastname" name ="lastname" value="{{ req.user.lastname }}"></tr>
            </div>

            <div id="input">
                <tr><div id="input_name">Email</div></tr>
                <tr><input type="text" id="email" name="email" value="{{ req.user.email }}"></tr>
            </div>

            <div id="input">
                <tr><div id="input_name">Phone</div></tr>
                <tr><input type="number" id="phone" name="phone" value="{{ req.user.phone }}"></tr>
            </div>

            <div id="input">
                <tr><div id="input_name">Home Address</div></tr>
                <tr><input type="text" id="address" name="address" value="{{ req.user.address }}"></tr>
            </div>


            <div id="input">
                <tr><div id="input_name">Postal Code</div></tr>
                <tr><input type="number" id="postcode" name="postcode" value="{{ req.user.postcode }}"></tr>
            </div>
        </table>

        <!--SUBMIT BUTTON -->
        <input type="submit" value="SUBMIT" onClick="formValidation()">
        <input type="button" onClick="location.href='/account/'" value="CANCEL">

    </form>
</div>

<!-- JavaScript -->
<script src="/js/account/edit.js" type="text/javascript"></script>



{% endblock %}
