{% extends '../../layouts/dashboard.html' %}

{% block title %} Create Tag {% endblock %}

{% block content %}
{% parent %}

    <form id="changepw" onsubmit="return false;" method="post">
        <table align="center">
            <div id="input">
                <tr><div id="input_name">Old Password</div></tr>
                <tr><input type="password" id="oldpassword"name="oldpassword"></tr>
            </div> <div id="input">
            <tr><div id="input_name">New Password</div></tr>
            <tr><input type="password" id="password"name="password"></tr>
        </div>
            <div id="input">
                <tr><div id="input_name">Repeat New Password</div></tr>
                <tr><input type="password" id="passwordrep" ></tr>
            </div>
        </table>
        <br>

        <!--SUBMIT BUTTON -->
        <input type="submit" value="SUBMIT" onClick="changePassValidation()">
        <input type="button" onClick="location.href='/account/'" value="CANCEL">

    </form>
</div>

<!-- JavaScript -->
<script src="/js/change_pw.js" type="text/javascript"></script>



{% endblock %}