{% extends '../layouts/dashboard.html' %}

{% block title %} Brands {% endblock %}

{% block content %}
{% parent %}

<div id="brands_outline">

{% for brand in brands %}

<table id="brand_info">

    <tr>
        <td>Name: </td>
        <td>{{ brand.identity }} </td>
    </tr>
    <tr>
        <td>Segment URL: </td>
        <td>{{ brand.segment_url }}</td>
    </tr>
    <tr>
        <td>Description: </td>
        <td>{{ brand.description }}</td>
    </tr>
    <tr>
        <td><a href="/edit_brand/?_id={{ brand._id | safe }}">>Edit</a></td>
    </tr>
    <tr>
        <td><a class="confirm" href="/delete_brand/?_id={{ brand._id  | safe }}">>Delete</a></td>
    </tr>
</table>

{% endfor %}

</div>

<div id="create_button"><form action="/create_brand/"><input type="submit" value="Create a new brand!"></form></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

    $(".confirm").on("click", function(event){
        if(confirm("Are you sure you want to delete this brand?")){
            return true;
        } else {
            event.preventDefault();
            return false;
        }
    });

</script>

{% endblock %}